## Tensorflow Basic

### TensorFlow란

- Google의 Theano를 대체하고자한 딥러닝 프레임워크.
- C/C++엔진에 python API로 작성된어 빠른실행이 가능.

### 장단점 


- 장점
- Python + Numpy
- 컴퓨테이션 그래프 앱스트랙션, Theano와 비슷
- Theano보다 컴파일 시간이 빠름-
- TensorBoard 시각화
-  데이터 및 모델 병렬 처리


- 단점
- 다른 프레임 워크보다 느림.
- Torch보다 훨씬 “더 복잡”하지만 기능이 많음.
- 사전 학습된 모델 부족.
- 컴퓨테이션 그래프는 순수 파이썬으로 속도가 느림.
- 상업적 지원 없음.
- 파이썬으로 드롭 아웃되어 각각의 새로운 트레이닝 배치를 로드
- 툴로 사용하기 어려움.
- 다이나믹 타이핑은 대형 소프트웨어 프로젝트에서 오류가 발생하기 쉬움.

### Pytorch와의 비교 

- Lua언어로 작성된 API제공하는 계싼 프레임워크로 머신러닝 알고리즘을 지원.
- 페이스북에서 개발

### 장단점 

- 장점
- 가변길이 입력 및 출력을 처리할 수 있는 다이나믹 컴퓨테이션 그래프 제공. 
- Rnn에 유용
- 결합하기 쉬운 많은 모듈 조각
- 자신만의 레이어 유형을 작성하고 GPU에서 실행하기 쉬움
- 대부분의 라이브러리 코드는 Lua로 되어있어 읽기 쉬움
- 사전 학습된 모델 대거 존재 **


- 단점
- Lua
- 보통 스스로 학습 코드를 작성해야 함 (적은 플러그 앤 플레이)
- 상업적 지원 없음
- 미완성 문서

In [ ]:
import tensorflow as tf

In [ ]:
a=tf.placeholder("float")
b=tf.placeholder("float") #플레이스 홀더 : 프로그램 실행중에 값을 변경할 수 있는 변수를 2개 정의, 데이터를 담는 버퍼

In [ ]:
y=tf.multiply(a,b) #a,b를 곱해서 y에 전달하는것이 아니라 a,b를 곱하는 연산을 전달
sess=tf.Session()
print(sess.run(y, feed_dict={a:3,b:2}))

In [ ]:
tf.__version__

In [ ]:
hello=tf.constant("Hello")
sess=tf.Session()
print(sess.run(hello)) #b출력은 문자 인코딩 때문에

In [ ]:
a=tf.constant(10)
b=tf.constant(20)
print(a)
print(a+b) #잘못됨

print(sess.run(a+b)) #session을 주고 연산을 해야 값이 나옴

In [ ]:
a=tf.placeholder(tf.float32)
b=tf.placeholder(tf.float32)

In [ ]:
adderNode=a+b
sess=tf.Session()
print(sess.run(adderNode,feed_dict={a:5,b:3}))
print(sess.run(adderNode,feed_dict={a:[5,1],b:[3,2]})) #리스트형태로 출력
print(sess.run(adderNode,feed_dict={a:[5,1],b:[3,2]})[1]) #리스트라 참조도 가능

In [ ]:
#x shape => (2,3)*(3,1)=> (2,1) 
#w shape = > ?

xdata=[[1,2,3],[4,5,6]] #2행3열
x=tf.placeholder(tf.float32,[None,3])
w=tf.Variable(tf.random_normal([3,1])) #3행1열
b=tf.Variable(tf.random_normal([1]))
hf=tf.matmul(x,w)+b
sess=tf.Session()
sess.run(tf.global_variables_initializer())
print(sess.run(w))

In [ ]:
#선형회귀모델
xtrain=[80,95,97] #모의고사 점수
ytrain=[82,90,88] #수능 점수

In [ ]:
w=tf.Variable(tf.random_normal([1]))
b=tf.Variable(tf.random_normal([1]))

In [ ]:
sess.run(w)

In [ ]:
sess=tf.Session()
sess.run(tf.global_variables_initializer())

hf=xtrain*w+b
cost=tf.reduce_mean(tf.square(hf-ytrain))

In [ ]:
opt=tf.train.GradientDescentOptimizer(0.001)
train=opt.minimize(cost)

In [ ]:
print(sess.run(cost))

In [ ]:
# for step in range(2001):
#     sess.run(train)
#     if step % 100 == 0:
#         print(step, sess.run(cost), sess.run(w), sess.run(b))

## Practice

In [ ]:
#cardata 에서 임의의 실린더 수 (10,12,16) 가 입력되었을때 hp?
#cost, w, b,출력
#cost 함수 시각화(w축)
#learning rate, training 조절

In [57]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [58]:
car=pd.read_csv("carsdata/cars.csv")

In [59]:
car

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
0,14.0,8,350,165,4209,12,1972,US.
1,31.9,4,89,71,1925,14,1980,Europe.
2,17.0,8,302,140,3449,11,1971,US.
3,15.0,8,400,150,3761,10,1971,US.
4,30.5,4,98,63,2051,17,1978,US.
...,...,...,...,...,...,...,...,...
256,17.0,8,305,130,3840,15,1980,US.
257,36.1,4,91,60,1800,16,1979,Japan.
258,22.0,6,232,112,2835,15,1983,US.
259,18.0,6,232,100,3288,16,1972,US.
260,22.0,6,250,105,3353,15,1977,US.

In [60]:
car.corr()

                  mpg   cylinders        hp   time-to-60      year
mpg          1.000000   -0.776710 -0.774905     0.509070  0.550441
 cylinders  -0.776710    1.000000  0.845155    -0.578161 -0.322239
 hp         -0.774905    0.845155  1.000000    -0.744873 -0.383869
 time-to-60  0.509070   -0.578161 -0.744873     1.000000  0.312311
 year        0.550441   -0.322239 -0.383869     0.312311  1.000000

In [61]:
xtrain=car[' cylinders']
ytrain=car[' hp']

In [62]:
xtrain=np.array(xtrain)
ytrain=np.array(ytrain)

In [63]:
w=tf.Variable(tf.random_normal([1]))
b=tf.Variable(tf.random_normal([1]))

sess=tf.Session()
sess.run(tf.global_variables_initializer())

#모델
hf=xtrain*w+b 
cost=tf.reduce_mean(tf.square(hf-ytrain))

In [64]:
opt=tf.train.GradientDescentOptimizer(0.01)
train=opt.minimize(cost)

In [84]:
w_list=[]
cost_list=[]
for step in range(1001): #cost가 최소가 되도록 갱신
    sess.run(train)
    if step % 100 == 0:
        print(step, sess.run(cost), sess.run(w), sess.run(b)) #cost , weight, bias
        cost_list.append(sess.run(cost))
        w_list.append(sess.run(w))

0 466.84525 [19.74084] [-3.9883795]
100 466.84518 [19.741901] [-3.9948652]
200 466.84518 [19.742798] [-4.0003343]
300 466.84512 [19.743553] [-4.004948]
400 466.84515 [19.744188] [-4.008839]
500 466.8451 [19.744726] [-4.012121]
600 466.84515 [19.745178] [-4.0148883]
700 466.84518 [19.745562] [-4.0172224]
800 466.84512 [19.745884] [-4.0191913]
900 466.8451 [19.746155] [-4.02085]
1000 466.84512 [19.746384] [-4.0222464]

In [85]:
cost_list

[466.84525,
 466.84518,
 466.84518,
 466.84512,
 466.84515,
 466.8451,
 466.84515,
 466.84518,
 466.84512,
 466.8451,
 466.84512]

In [ ]:
learning rate: 0.01
0 469.589 [18.830664] [1.5729728]
100 468.79666 [18.97433] [0.69515103]
200 468.2329 [19.095486] [-0.04513512]
300 467.83206 [19.19766] [-0.66943616]
400 467.54706 [19.283825] [-1.1959237]
500 467.34436 [19.356491] [-1.6399229]
600 467.20013 [19.41777] [-2.0143583]
700 467.09756 [19.46945] [-2.3301272]
800 467.0247 [19.513033] [-2.5964224]
900 466.97284 [19.549786] [-2.8209968]

learning rate : 0.005
0 6718.409 [5.3143706] [1.6319708]
100 471.34695 [18.573088] [3.1468287]
200 470.64197 [18.668976] [2.5609276]
300 470.04736 [18.757036] [2.022861]
400 469.5459 [18.837908] [1.528722]
500 469.12283 [18.912176] [1.0749236]
600 468.7661 [18.980383] [0.6581737]
700 468.46524 [19.04302] [0.2754492]
800 468.21158 [19.100542] [-0.07602961]
900 467.99753 [19.15337] [-0.3988139]

learning rate: 0.001
0 470.714 [18.658787] [2.6231465]
100 470.58447 [18.677177] [2.510829]
200 470.45932 [18.695238] [2.4004073]
300 470.33823 [18.71301] [2.2918491]
400 470.2214 [18.730473] [2.1851254]
500 470.10828 [18.747646] [2.0802019]
600 469.99908 [18.764528] [1.977052]
700 469.89346 [18.781124] [1.8756417]
800 469.7914 [18.79744] [1.7759454]
900 469.69275 [18.813486] [1.6779302]

In [43]:
for i in [10,12,16]:
    hp=i*sess.run(w)[0]+sess.run(b)[0]
    print("실린더수가 %s 일때 hp는 %d 입니다." %(i,hp))

실린더수가 10 일때 hp는 193 입니다.
실린더수가 12 일때 hp는 232 입니다.
실린더수가 16 일때 hp는 311 입니다.

In [87]:
#weight,cost 시각화
# import matplotlib.pyplot as plt

# df=pd.DataFrame()
# df['weight']=w_list
# df['cost']=cost_list

# plt.figure(figsize=(20,10))
# plt.plot(df.cost, df.weight)