In [26]:
#Q1. 1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오.
#(단 점들의 배열은 모두 정렬되어있다고 가정한다.)
#예를들어 S={1, 3, 4, 8, 13, 17, 20} 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

list_S=[1,3,4,8,13,19,20]
diff_S=[]


for i in range(len(list_S)-1):
    diff=list_S[i+1]-list_S[i]
    diff_S.append(diff)
    small=min(diff_S)

for i in range(len(diff_S)-1):
        if diff_S[i] == small:
                print(tuple([list_S[i],list_S[i+1]]))

(3, 4)

In [16]:
#Q2.주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래 문제에 대한 프로그램을 작성하세요.
#Q2-1)김씨와 이씨는 각각 몇 명 인가요?
#names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",")
names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",")
text=str(names)
kim="김"
print(text.count(kim))
lee="이"
print(text.count(lee))

2
6

In [11]:
#Q2-2)"이재영"이란 이름이 몇 번 반복되나요?

str1=str(names)
str2="이재영"
str1.count(str2)

3

In [12]:
#Q2-3중복을 제거한 이름을 출력하세요.
result=set(names)
print(result)

{'최승혁', '전경헌', '강상희', '김지완', '이유덕', '권종표', '박민호', '박영서', '김재성', '이재영', '송정환', '이성연'}

In [10]:
#Q3. 10미만의 자연수에서 3과 5의 배수를 구하면 3,5,6,9이다. 이들의 총합은 23이다.
# 1000미만의 자연수에서 3,5의 배수의 총합을 구하라.
List=[]

for i in range(1,1000):
        if i%3==0:
            List.append(i)
        elif i%5==0:
            List.append(i)
       
        
print(sum(set(List)))

233168

In [30]:
#Q4.  자기 자신을 제외한 모든 양의 약수들의 합이 자기 자신이 되는 자연수를 완전수라고 한다. 
#예를 들면, 6과 28은 완전수이다. 6=1+2+3 // 1,2,3은 각각 6의 약수 28=1+2+4+7+14 // 1,2,4,7,14는 각각 28의 약수입력으로 자연수 N을 받고, 
#출력으로 N 이하의 모든 완전수를 출력하는 코드를 작성하라.

Num = int(input())
Result=[]

for i in range(1,Num):
        if Num%i==0:
            Result.append(i)
print(Result)

6
[1, 2, 3]

In [27]:
#Q5.  0~9까지의 5문자로 된 숫자를 입력 받았을 때, 이 입력 값이 0~9까지의 숫자가 각각 한 번 씩만 사용된 것인지 확인하는 함수를 구하시오.

#sample inputs: 0123456789 01234 01234567890 6789012345 012322456789
#sample outputs: true false false true false

result=input().split(' ')  

for i in result:
        if len(i) < 10:
            print("False", end='')
        else: 
            if len(set(i))!=len(i):
                print("False", end='')
            else:
                print("True", end='')

0123456789 0123
TrueFalse

In [ ]:
#Q6.run length 압축알고리즘 문제( .bmp)
text=input()
s=""
cnt=0

for i in text:
    if s=="":
        s=i
        cnt=cnt+1
        
    else:
            if s==i:
                cnt=cnt+1
            
            else:
                print(s+str(cnt),end='')
                s=i
                cnt=0 
                cnt=cnt+1
              
print(s+str(cnt))

In [28]:
#Q7. 로또문제
import random
lotto=[]

while len(lotto)==6:
    lotto.append(random.randint(1,99))
    
print(lotto)

[]

In [18]:
#Q8.잔액이 200원 미만이면 판매 중지
coffee =int(input())
money=int(input())

while money>=200 and coffee>1:
        print("커피가 나옵니다.")
        coffee=coffee-1
        money=money-200
        print("남은 커피는 %d잔 입니다" %coffee)
        print("남은 잔액은 %d원 입니다" %money)
        if money<200:
            print("판매중지")
            break

5
800
커피가 나옵니다.
남은 커피는 4잔 입니다
남은 잔액은 600원 입니다
커피가 나옵니다.
남은 커피는 3잔 입니다
남은 잔액은 400원 입니다
커피가 나옵니다.
남은 커피는 2잔 입니다
남은 잔액은 200원 입니다
커피가 나옵니다.
남은 커피는 1잔 입니다
남은 잔액은 0원 입니다
판매중지

In [7]:
#Q9.별트리
i=int(input())
for n in range(1,i+1):
    print(' '*(i-n) + '*'*(2*n-1)+' '*(i-n))

10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************