In [5]:
X,Y=input("문자열 두개 입력:").split()   #input에서 여러개 입력 : split함수
X=int(X)
Y=int(Y)
print(X)
print(Y)
print(X+Y)

문자열 두개 입력:5 10
5
10
15

In [7]:
x,y=map(int , input("문자열 두개 입력:").split(","))
print(x+y)

문자열 두개 입력:1,2
3

# Print

In [9]:
print("1\t2\t3")  # \t

1	2	3

In [10]:
print(1, end='')
print(2)
print(3)
print(1,2,3) # 한줄에 여러 값을 출력하고 싶을때 end=''

1
2
3
1 2 3

# Boolean (T/F)

In [11]:
2>1

True

In [12]:
2==1

False

In [13]:
2!=1

True

In [14]:
"test"=="text"  #문자열에 대해서도 비교가 가능

False

In [15]:
1==1.0 
1 is 1.0 #정수1(객체) == 실수 1(객체) => 다름(F)

True

In [16]:
10 > 5

True

In [18]:
not 10 > 5 #Not True => False

False

In [19]:
#Boolen 함수 : 성수,실수,문자열 => 불린타입변환(논리값으로 변환가능)
bool(1)
bool(0) #0을 제외한 모든 정수는 참

True

# AND연산자/ OR연산자

In [ ]:
# AND: 두개가 TRUE(1) => TRUE1
# OR : 하나라도 TRUE(1) => TRUE(1)
 
False and True #and연산자 임으로 뒤에있는 True연산안함
True or False  #or연산자임으로 뒤에 있는 False연산암함.

# 자료형

In [25]:
# %s
"I eat %s apple"%3
"i eat %s apple" %"three" #%s는 타입과 관련없이 전달 받아서 출력

'i eat three apple'

In [20]:
# %d
"Error is %d" % 90
"Error is %d%%" %90 #%를 출력하려면 %% 작성

'Error is 90'

In [26]:
# %10s: 10자리 확보한 후 ,오른쪽 정렬 출력
print ("%10sgd" % "hi")

        higd

In [27]:
# %10s: 10자리를 확보한 후, 왼쪽 정렬 출력
print("%-10sgd" % "hi")

hi        gd

In [28]:
# %f : 실수 출력
"%f" % 3.14 #'3.140000'

'3.140000'

# 문자열(String) 함수

## 1) format함수

In [30]:
#1.format함수를 이용한 포매팅
"I eat {0} apples".format(3) 
"I eat {0} apples".format("three") #포맷안 값을 {}에 출력 #{}의 숫자는 인덱스 번호

'I eat three apples'

In [34]:
"{1}".format("Hi", "Hello") #Hi 인덱스:0, Hello인덱스: 1 => Hello출력
"{1} {0}".format("Hi", "Hello")

'Hello Hi'

In [ ]:
"{0:<10}".format("Hi", "Hello") #10자리 확보, 왼쪽 정렬
"{0:>10}".format("Hi", "Hello") #10자리 확보, 오른쪽 정렬
"{0:^10}".format("Hi", "Hello") #10자리 확보, 가운데 정렬

## 2) Count함수

In [36]:
#2.Count함수
a="hello"
a.count('l')  #문자열에서 지정한 문자의 갯수 출력

2

## 3) find함수

In [38]:
#3.find함수
b="Python is very easy"
b.find('y') #가장 왼쪽에서 부터 찾아가므로 출력값:1
b.find('x') #찾는 문자가 없을 경우 출력값: -1

b.index('y')
b.index('x') #index가 find와 다른점은 몬자를 못찾는 경우 error 출력

1

## 4) join함수


"#".join("hello")

## 5) List

In [43]:
#5.List: 대괄호[]로 표현,
# 자료를 나열하고자할 때 사용 # 데이터 타입에 관계없이 저장
"/".join(['m','u','l','t','i'])

'm/u/l/t/i'

In [52]:
List=['a','b',[1,2,3]] #2차원 List (리스트 내의 리스트) #List내부에는 어떠한 자료형도 모두 포함될 수 있다.
List[2][1]

a[-1] #문자열의 마지막 요소

2

In [61]:
x=[1,2,3,['a','b','c']] #x에 4개 요소 존재 : 1,2,3,['a','b','c']
x[3]
x[3][2]

'c'

In [68]:
x=[1,2,3,['a','b','c',['Python','is']]] #3차원 List
x[3][3][0] #Python추출

'Python'

In [74]:
x2=[1,2,3,['a','b','c'],4,5]
x2[2:6]

[3, ['a', 'b', 'c'], 4, 5]

In [55]:
#List덧셈(연결)
List1=[1,2,3]
List2=[4,5,6]
List1+List2

#반복
List1=[1,2,3]
List1*2

[1, 2, 3, 1, 2, 3]

In [75]:
#str함수: 숫자를 문자로 변환
a=[1,2,3]
str(a[2])+"hi"

'3hi'

In [78]:
#range 함수
range(5) #0~4까지 연속된 숫자 생성
list(range(5))
list(range(13,2,-1))

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3]

In [83]:
#list 요소 삭제
a=[1,2,3]
a[1]
del a[1]

In [92]:
a=list(range(1,11))
a
del a[6:] #7부터 마지막 까지 삭제

In [95]:
#리스트변수명.함수명()
a=[1,2,3]
#지료구조(리스트,튜플,딕셔너리,셋)에 따라 함수가 다름
#리스트(객체).함수()
#딕셔너리(객체).함수()
#문자열(객체).함수()
x=5
a.append(x)
a           #요소 추가
b=[6,7]
a.append(b) #list자체로 추가가능
a

[1, 2, 3, 5, [6, 7]]

In [102]:
#insert함수 : 리스트 요소 추가(원하는 위치)
a=[1,2,3]
a.insert(0,100) #인덱스 0위치에 100추가
a
a.insert(3,5)
a

[100, 1, 2, 5, 3]

In [107]:
a=[1,2,3,1,2,3]
a
a.remove(3)

In [108]:
a=[10,20,30,40]
a.pop()

40

In [109]:
a

[10, 20, 30]

In [111]:
a.pop(1) #index에 있는 요소가 꺼내짐

20

In [112]:
a=[1,2,3,1]
a.count(1) # 숫자1이 몇개?

2

In [115]:
a=[1,2,3]
b=[4,5]
a.extend(b) #extend로 요소로 합침
a

[1, 2, 3, 4, 5]

In [116]:
a+=[6,7] #요소로 합침
a

[1, 2, 3, 4, 5, 6, 7]

## 6) Sort / Reverse함수

In [97]:
a=[2,1,3,4] #오름차순으로 정렬하는 함수
a.sort()
a

a=['k','a','c']
a.sort()
a

['a', 'c', 'k']

In [ ]:
a=[2,1,3,4] #내림차순으로 정렬하는 함수
a.reverse()
a

## 7) Upper / Lower함수

In [47]:
#6.Upper함수(소문자->대문자)
#Lower 함수(대문자->소문자) ex)자연어처리 'test' 'Test' 'TEST' 를 일괄적으로 치환할때
a='Test'
a.upper()
a.lower()

'test'

In [49]:
#7. Strip함수 : 양쪽 공백 제거
#lstrip #Rstrip
word = "  hello   "
word.strip()
word.lstrip()
word.rstrip()

'hello   '

## 8) Replace함수

In [ ]:
x="대한민국 한국 코리아"
x.replace("한국", "대한민국") #한국을 대한민국으로 변경

# 연습문제