# Day3_ 자료구조

## 1) 튜플

In [2]:
#자료구조 : 자료를 저장 및 관리하는 방법
#알고리즘 : 문제를 해결하는 방법
#튜플() :리스트[]와 비슷하나 리스트는 생성,삭제,수정 / 튜플은 변경 불가능


a=(3,2,5,6,1)  #괄호를 묶지 않아도 되나 가독성을 위해 묶어준다.
a

(3, 2, 5, 6, 1)

In [8]:
#튜플은 변경이 안되므로, 데이터가 계속 유지 되어야 할 경우 사용

a= tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [12]:
#튜플 <-> 리스트 변환

a=[1,2,3]
a
a=tuple(a)
a
a=list(a)
a

[1, 2, 3]

In [13]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [14]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [16]:
x,y=[1,2] #리스트 패킹
x
y
x,y=(1,2,3) #튜플 패킹
x
y
#Unpacking : 리스트(튜플)의 요소를 여러개의 변수에 할당하는 것
#Packing : 변수에 리스트 또는 튜플을 할당하는것

ValueError: too many values to unpack (expected 2)

In [19]:
x=(1,2,'a')
x
y=(3,4)
x+y # 튜플 요소들 합
y*2 #요소 반복

(3, 4, 3, 4)

## 2) 리스트

In [73]:
#시퀀스형 :리스트, 튜플, Range, 문자열 데이터
#시퀀스형의 자료에 특정 값이 존재하는지 확인
#0~90까지 10씩 증가한 값으로 리스트 생성
a=list(range(0,100,10))
a
30 in a #a 변수안에 30이 있느냐?
30 not in a #a변수안에 30이 있지 않으냐?
100 in range(100) #100 범위안에 100 있느냐?

False

In [34]:
'h' in 'Hello Python'

True

In [45]:
# +연산자로 자료연결이 가능하다.
#range는 안됨
'hello'+'hi'

#range(0,3)+range(3,5)는 불가
list(range(0,3))+list(range(3,5))
tuple(range(3,5))+tuple(range(3,5)) #가능

#리스트+튜플처럼 자료형이 다를 경우는 불가
# list(range(0,3))+tuple(range(3,5))


#문자+숫자 연결 안됨
#'hi'+7
'hi' + str(7) #숫자를 문자형으로 변환하면 가능(문자+문자)

'hi7'

In [47]:
#len함수: 시퀀스 자료형에 해당되는 데이터의 길이
a=(1,2,3)
len(a)

hi='안녕'
len(hi) 
hi.encode('utf-8')  #utf-8

2

In [51]:
x='HI HELLO'
x.__getitem__(0) #같은 표현

x[0]
x[:100]

'HI HELLO'

In [52]:
x[-1]
x[len(x)-1]

'O'

In [63]:
x
x[2:-1]
x[2:]

x[0:-1:2]
x[::2]#인덱스 0부터 끝까지 2씩 증가된 인덱스 참조

x[::] #전체 참조
x[0:len(x)] #전체 참조
x[::-1] #역순(내림차순)

#튜플도 리스트와 동일
x=range(10)
x[4:7]
list(range(0,7,2))

[0, 2, 4, 6]

In [64]:
a=list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [70]:
a[2:5]=[21,31,'x'] #자료형에 상관없이 변경가능
a
a[1:9:2]=['a','b','c','d']
a
del a[2:6]
a

[0, 'a', 60, 'd', 80, 90]

In [72]:
del a[:5:2]
a

['d']

## 3) 딕셔너리

In [74]:
#딕셔너리 : 키와 값으로 자료를 표현
#딕셔너리 = 맵 = 해쉬(다른언어)
#키가 중복되면 마지막 값으로 저장됨 

person1=[180,70,'0','서울']
person2={'키':180,'몸무게':70,'혈액형':'O','거주지':'서울'} #딕셔너리는 {} 중괄호로 표현

In [78]:
person1=[180,70,'0','서울']
person2={'키':180,'몸무게':70,'혈액형':'O','거주지':'서울',False:0, 99:'구구', 3.14:[3.14,'원주율'], '취미':{'오전':['수영','요가','축구']}} 
#값: 정수, 실수, boolean, 리스트, 튜플, 딕셔너리 가능. But, 키로 리스트는 불가능
#값 : 딕셔너리 안 리스트도 가능
person1
person2

{'키': 180,
 '몸무게': 70,
 '혈액형': 'O',
 '거주지': '서울',
 False: 0,
 99: '구구',
 3.14: [3.14, '원주율'],
 '취미': {'오전': ['수영', '요가', '축구']}}

In [79]:
x=dict()
x

{}

In [88]:
per=dict(height=180, weight=70, bt='0')
per

per=dict(zip(['height','weight','bt'],[180,70,'0']))
per

per=dict([('height',180),('weight',70),('bt','0')]) 
per

per=dict({'height':180,'weight':70,'bt':'0'})  #셋 다 같은 출력값
per

{'height': 180, 'weight': 70, 'bt': '0'}

In [82]:
zip(['height','weight','bt'],[180,70,'0'])

In [92]:
a={1:'hi'}
a
a={'a':[1,2,3]}
a

{'a': [1, 2, 3]}

In [96]:
b={1:'a'}
print(a)
print(b)
a[2]='b' #키:2 ,값:b
a
a['name']='abc'
a

{'a': [1, 2, 3], 2: 'b'}
{1: 'a'}

{'a': [1, 2, 3], 2: 'b', 'name': 'abc'}

In [99]:
a['name']='lss'
a  #디셔너리[키]='값'

{'a': [1, 2, 3], 2: 'b', 'name': 'lss'}

In [104]:
'name' in a #a라는 딕셔너리에 'name'키가 존재? => TRUE
len(a)
a.keys() #a라는 딕셔너리의 키값들 출력

dict_keys(['a', 2, 'name'])

In [110]:
list(a.keys()) #키값들을 list 형태로 출력

for k in a.keys():  #키값들 출력
    print(k)
    
for v in a.values(): #값들 출력
    print(v)
    
list(a.values()) #값들을 list형태로 출력

for i in a.items():
    printi

a
2
name
[1, 2, 3]
b
lss

[[1, 2, 3], 'b', 'lss']

In [112]:
a['name']
a.get('name') #name키의 값 출력

'lss'

In [113]:
print(a.get('nn')) #

None

In [115]:
a.get('id','Guest') #a라는 딕셔너리에 nn키가 없다면 Guest을 출력

'Guest'

## 4) 셋(집합)

In [125]:
#set : 집합 (중복이 허용이 안되는 자료구조) ex)x={1,1,2,2,3} => x={1,2,3}
#특징) 1.{} 중괄호 사용
#      2.중복이 허용되지 않는다.
#      3.순서가 없다. ex) s1[1] => Error
s=set([1,2,3])
s
s1=set('hello')
s1

s2=set(['h','e','l','l','o']) #list로 변환후 참조가능
s2
slist=list(s2)
slist
slist[1]

'h'

In [145]:
s3=set([1,2,3,4])
s3
s4=set([4,5,6,7])
s4

{4, 5, 6, 7}

In [148]:
#교집합
s3 & s4
s3.intersection(s4)

{4}

In [146]:
#합집합
s3 | s4
s3.union(s4)

{1, 2, 3, 4, 5, 6, 7}

In [147]:
#차집합
s3-s4
s3.difference(s4)

{1, 2, 3}

In [152]:
s=set([1,2])
s
s.add(3)  #add함수는 2개 추가가 안됨 => update함수 사용
s
s.update([4,5]) 
s

{1, 2, 3, 4, 5}

# 조건문

## 1) if문

In [155]:
x=10
if x==10: # 10일때 '==' , 10이 아닐때 '!='
    print("10입니다!") #조건문 후에는 들여쓰기.
print("10이 아닙니다!")

10입니다!
10이 아닙니다!

In [163]:
x=10
if x==10:
    print("10입니당")
    if x%2==0:  #짝수
        print("짝수입니당")
    else:
        print("홀수입니당")

10입니당
짝수입니당

In [165]:
x=7
if x>=5:
    print("5이상인 수")
    if x<10:  
        print("10미만인 수")
    else:
        print("10이상인 수")

5이상인 수
10미만인 수

In [167]:
bool(0)
bool(10)
bool('')  #False

False

In [176]:
a=[1,2,3]
if a: #리스트에 값들이 저장되어 있기 떄문에 True
    print(a.pop())
a

3

[1, 2]

## 2) While문

In [171]:
a=[1,2,3]
while a:
    print(a.pop())

3
2
1