In [ ]:
문제 1

다음(Daum)의 주가가 89,000원이고 네이버(Naver)의 주가가 751,000원이라고 가정하고, 

어떤 사람이 다음 주식 100주와 네이버 주식 20주를 가지고 있을 때 그 사람이 가지고 있는 주식의 총액을

계산하는 프로그램을 작성하세요.

In [5]:

ju1=int(input())# 주 입력
ju2=int(input())

if ju1 and ju2 !=0:
    Daum_t=89000*ju1 
    Naver_t=751000*ju2
    Sum=Daum_t+Naver_t    
    print("주식의 총액은 %d 입니다." %Sum)

100
20
주식의 총액은 23920000 입니다.

In [ ]:
@문제 2 

문제 2-1에서 구한 주식 총액에서 다음과 네이버의 주가가

각각 5%, 10% 하락한 경우에 손실액을 구하는 프로그램을 작성하세요.

In [ ]:


if 
 Sum_d=Sum-(Daum_t*Daum_d+Naver_t*Naver_d)

In [ ]:
문제 3 
우리나라는 섭씨 온도를 사용하는 반면 미국과 유럽은 화씨 온도를 주로 사용합니다.

화씨 온도(F)를 섭씨 온도(C)로 변환할 때는 다음과 같은 공식을 사용합니다. 

이 공식을 사용해 화씨 온도가 50일 때의 섭씨 온도를 계산해 보세요.

C = (F-32)/1.8

In [4]:
degree=int(input())
F=degree

if F !=0:
    C = (F-32)/1.8
    print(C)

50
10.0

문제 4 

화면에 "pizza"를 10번 출력하는 프로그램을 작성하세요.

In [ ]:
text=input()
print(text *10)

In [ ]:
@문제 5 

월요일에 네이버의 주가가 100만 원으로 시작해 3일 연속으로 하한가(-30%)를 기록했을 때 

수요일의 종가를 계산해 보세요.

In [ ]:
Naver=1000000

In [ ]:
문제 6 

다음 형식과 같이 이름, 생년월일, 주민등록번호를 출력하는 프로그램을 작성해 보세요.

이름: 파이썬 생년월일: 2014년 12월 12일 주민등록번호: 20141212-1623210

In [ ]:
name=input()
birth=input()
Id=input()


print(이름 : %s 생년월일:%s 주민등록번호: %s, %name %birth %Id)

In [ ]:
문제 7 

s라는 변수에 'Daum KaKao'라는 문자열이 바인딩돼 있다고 했을 때 문자열의 슬라이싱 기능과 연결하기를 이용해 

s의 값을 'KaKao Daum'으로 변경해 보세요.

In [8]:
s="Daum KaKao"
print(list(s))
print(s[:4])
print(s[5:])

['D', 'a', 'u', 'm', ' ', 'K', 'a', 'K', 'a', 'o']
Daum
KaKao

In [ ]:
문제 8 

a라는 변수에 'hello world'라는 문자열이 바인딩돼 있다고 했을 때 a의 값을 'hi world'로 변경해 보세요.

In [9]:
a="hello world"
print(a.replace("hello","hi"))

hi world

In [ ]:
문제 9

x라는 변수에 'abcdef'라는 문자열이 바인딩돼 있다고 했을 때 x의 값을 'bcdefa'로 변경해 보세요.

In [20]:
x=list("abcdef")
del x[0]
x.append("a")
print(x)

['b', 'c', 'd', 'e', 'f', 'a']

In [ ]:
문제 10

2015년 9월 초의 네이버 종가는 표 3.2와 같습니다.

09/07의 종가를 리스트의 첫 번째 항목으로 입력해서 naver_closing_price라는 이름의 리스트를 만들어보세요.

표 3.2 네이버 종가

날짜	요일	종가
09/11	금	488,500
09/10	목	500,500
09/09	수	501,000
09/08	화	461,500
09/07	월	474,500

In [27]:

naver_closing_price=["09/07","09/08","09/09","09/10","09/11",
                     ["월","화","수","목","금",["474,500","461,500","501,000","500,500","488,500"]]]
print(naver_closing_price)

474,500

In [ ]:
문제 11

문제 10에서 만든 naver_closing_price를 이용해 해당 주에 종가를 기준으로 가장 높았던 가격을 출력하세요.

(힌트: 리스트에서 최댓값을 찾는 함수는 max()이고, 화면에 출력하는 함수는 print()입니다.)

In [28]:
print(max(naver_closing_price[5][5][:]))

501,000

In [ ]:
문제 12

문제 10에서 만든 naver_closing_price를 이용해 해당 주에 종가를 기준으로 가장 낮았던 가격을 출력하세요.

(힌트: 리스트에서 최솟값을 찾는 함수는 min()이고, 화면에 출력하는 함수는 print()입니다.)

In [29]:
print(min(naver_closing_price[5][5][:]))

461,500

In [ ]:
@문제 13

문제 10에서 만든 naver_closing_price를 이용해 해당 주에서 가장 종가가 높았던 요일과 

가장 종가가 낮았던 요일의 가격 차를 화면에 출력하세요..

In [42]:
m_sub=[]

['501,000', '461,500']

In [ ]:
문제 14

문제 10에서 만든 naver_closing_price를 이용해 수요일의 종가를 화면에 출력하세요.

In [43]:
print(naver_closing_price[5][5][2])

501,000

In [ ]:
문제 15

문제 10의 표 3.2를 이용해 날짜를 딕셔너리의 키 값으로, 

종가를 딕셔너리의 값으로 사용해 naver_closing_price2라는 딕셔너리를 만드세요.

In [59]:
naver_closing_price2=dict({"09/07":"474,500","09/08":"461,500","09/09":"501,000","09/10":"500,500","09/11":"488,500"})
print(naver_closing_price2)

{'09/07': '474,500', '09/08': '461,500', '09/09': '501,000', '09/10': '500,500', '09/11': '488,500'}

In [ ]:
문제 16

문제 15에서 만든 naver_closing_price2 딕셔너리를 이용해 09/09일의 종가를 출력하세요.

In [64]:
print(naver_closing_price2["09/09"])

501,000

In [ ]:
@문제 17

중첩 루프를 이용해 신문 배달을 하는 프로그램을 작성하세요. 

단, 아래에서 arrears 리스트는 신문 구독료가 미납된 세대에 대한 정보를 포함하고 있는데, 

해당 세대에는 신문을 배달하지 않아야 합니다.

>>> apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]
>>> arrears = [101, 203, 301, 404]

In [ ]:
apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]
arrears = [101, 203, 301, 404]

cnt=0

In [ ]:
<함수구현>

문제 18

두 개의 정수 값을 받아 두 값의 평균을 구하는 함수를 작성하세요.

def myaverage(a, b):
    # 함수 구현

In [68]:
a=int(input())
b=int(input())

def myaverage(a,b):
    print("%d와 %d의 평균은 %d입니다." %(a,b,(a+b)/2))
    #return 0

print(myaverage(a,b))

5
3
5와 3의 평균은 4입니다.
None

In [ ]:
문제 19

함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수 값에 대한 최댓값과 최솟값을 반환하는 함수를 작성하세요.

def get_max_min(data_list):

    # 함수 구현

In [10]:

data_list=list(input())

def get_max_min(data_list):
    b_num=max(data_list)
    s_num=min(data_list)
    print("최댓값은 %s이며 최솟값은 %s입니다." %(b_num,s_num))
    

print(get_max_min(data_list))

12345
최댓값은 5이며 최솟값은 1입니다.
None

In [ ]:
@문제 20

절대 경로를 입력받은 후 해당 경로에 있는 *.txt 파일의 목록을 파이썬 리스트로 반환하는 함수를 작성하세요.

def get_txt_list(path):
    # 함수 구현

In [ ]:
문제 21

체질량 지수(BMI; Body Mass Index)는 인간의 비만도를 나타내는 지수로서 체중과 키의 관계로 아래의 수식을 통해 계산합니다.

여기서 중요한 점은 체중의 단위는 킬로그램(kg)이고 신장의 단위는 미터(m)라는 점입니다.

BMI=체중(kg)/신장(m)^2
일반적으로 BMI 값에 따라 다음과 같이 체형을 분류하고 있습니다.

BMI <18.5, 마른체형
18.5 <= BMI < 25.0, 표준
25.0 <= BMI < 30.0, 비만
BMI >= 30.0, 고도 비만
함수의 인자로 체중(kg)과 신장(cm)을 받은 후 BMI 값에 따라 
‘마른체형’, ‘표준’, ‘비만’, ‘고도 비만’ 중 하나를 출력하는 함수를 작성하세요.

In [ ]:
weight=int(input())
height=int(input())

def cal_BMI(weight,height):
    height_m=float(height/100)
    
    BMI=weight/(height_m**2)
    print("귀하의 BMI(비만도)는 %f 입니다." %BMI)
    
    if BMI<18.5:
        print("마른체형 입니다.")

    elif BMI>=18.5 and BMI<25.0:
        print("표준 입니다.")

    elif BMI>=25.0 and BMI<30.0:
        print("비만 입니다.")
    
    elif BMI>=30.0:
        print("고도비만 입니다.")
    

print(cal_BMI(weight,height))

In [ ]:
@문제 22

사용자로부터 키(cm)와 몸무게(kg)를 입력받은 후 BMI 값과 BMI 값에 따른 체형 정보를 화면에 출력하는 프로그램을 작성해 보세요.

파이썬에서 사용자 입력을 받을 때는 input 함수를 사용하며, 작성된 프로그램은 계속해서 사용자로부터 키와 몸무게를 입력받은 후 

BMI 및 체형 정보를 출력해야 합니다(**무한 루프 구조).

In [ ]:
height_cm=int(input())
weight_kg=int(input())


def cal_BMI(weight_kg,height_cm):

    BMI=weight_kg/(height_cm**2)  
    print("귀하의 BMI(비만도)는 %f 입니다." %BMI)
    
    if BMI<18.5:
        print("마른체형 입니다.")

    elif BMI>=18.5 and BMI<25.0:
        print("표준 입니다.")

    elif BMI>=25.0 and BMI<30.0:
        print("비만 입니다.")
    
    elif BMI>=30.0:
        print("고도비만 입니다.")

    

print(cal_BMI(weight_kg,height_cm))

In [ ]:
문제 23

삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적을 계산하는 함수를 작성하세요.

def get_triangle_area(width, height):
    # 함수 구현

In [15]:
width=int(input())
height=int(input())

def get_triangle_area(width, height):
    triangle=int((width * height)/2)
    print("삼각형의 높이와 밑변의 넓이는 %d입니다." %triangle)

print(get_triangle_area(width,height))

5
2
삼각형의 높이와 밑변의 넓이는 5입니다.
None

In [ ]:
문제 24

함수의 인자로 시작과 끝을 나타내는 숫자를 받아 시작부터 끝까지의 모든 정수값의 합을 반환하는 함수를 작성하세요(시작값과 끝값을 포함).

def add_start_to_end(start, end):
    # 함수 구현

In [ ]:
문제 25

함수의 인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세 글자로만 구성된 리스트를 반환하는 함수를 작성하세요.

예를 들어, 함수의 입력으로 ['Seoul', 'Daegu', 'Kwangju', 'Jeju']가 입력될 때 함수의 반환값은 ['Seo', 'Dae', 'Kwa', 'Jej']입니다.

In [ ]:
*** Final 문제