In [ ]:
문제 1

다음(Daum)의 주가가 89,000원이고 네이버(Naver)의 주가가 751,000원이라고 가정하고, 

어떤 사람이 다음 주식 100주와 네이버 주식 20주를 가지고 있을 때 그 사람이 가지고 있는 주식의 총액을

계산하는 프로그램을 작성하세요.

In [4]:

ju1=int(input())# 주 입력: 100
ju2=int(input()) # 20

if ju1 and ju2 !=0:
    Daum_t=89000*ju1 #다음 주가 * 
    Naver_t=751000*ju2 #네이버 주가 * 주
    Sum=Daum_t+Naver_t    #각 주식의 총액의 합
    print("주식의 총액은 %d 입니다." %Sum)

100
20
주식의 총액은 23920000 입니다.

In [ ]:
문제 2 

문제 2-1에서 구한 주식 총액에서 다음과 네이버의 주가가

각각 5%, 10% 하락한 경우에 손실액을 구하는 프로그램을 작성하세요.

In [8]:
Daum_loss=89000*0.95  #84550
Naver_loss=751000*0.9 #675900

if Daum_loss and Naver_loss !=0: 
    sum_loss=Sum-(Daum_loss*ju1+Naver_loss*ju2)   #주식 총액의 합-(다음 하락한 주가*주+ 네이버 하락한 주가*주)
    print(int(sum_loss))

1947000

In [ ]:
문제 3 
우리나라는 섭씨 온도를 사용하는 반면 미국과 유럽은 화씨 온도를 주로 사용합니다.

화씨 온도(F)를 섭씨 온도(C)로 변환할 때는 다음과 같은 공식을 사용합니다. 

이 공식을 사용해 화씨 온도가 50일 때의 섭씨 온도를 계산해 보세요.

C = (F-32)/1.8

In [4]:
degree=int(input())
F=degree

if F !=0:
    C = (F-32)/1.8
    print(C)

50
10.0

문제 4 

화면에 "pizza"를 10번 출력하는 프로그램을 작성하세요.

In [2]:
print(("pizza"+' ')*10)

pizza pizza pizza pizza pizza pizza pizza pizza pizza pizza

In [ ]:
문제 5 

월요일에 네이버의 주가가 100만 원으로 시작해 3일 연속으로 하한가(-30%)를 기록했을 때 

수요일의 종가를 계산해 보세요.

In [11]:
Naver=1000000
day=3

for i in range(1,day):
    Naver=Naver*(1-0.3)
    print(round(Naver)) #종가 반올림

700000
490000

In [ ]:
문제 6 

다음 형식과 같이 이름, 생년월일, 주민등록번호를 출력하는 프로그램을 작성해 보세요.

이름: 파이썬 생년월일: 2014년 12월 12일 주민등록번호: 141212-*******

In [ ]:
import re

Name=input()
Birth=input()
ID_num=input()

Birth_y=Birth[:4]
Birth_m=Birth[4:6]
Birth_d=Birth[6:8]

ID_pa=re.compile("(\d{6})[-]\d{7}")
ID=ID_pa.sub("\g<1>-*******",ID_num)
print(ID)

print("이름: %s 생년월일: %s년 %s월 %s일 주민등록번호: %s" %(name,Birth_y,Birth_m,Birth_d,ID))

In [ ]:
문제 7 

s라는 변수에 'Daum KaKao'라는 문자열이 바인딩돼 있다고 했을 때 문자열의 슬라이싱 기능과 연결하기를 이용해 

s의 값을 'KaKao Daum'으로 변경해 보세요.

In [17]:
s="Daum KaKao"
d=(s[:4])
s=(s[5:]) #슬라이싱
print(s+' '+d) #연결하기

KaKao Daum

In [ ]:
문제 8 

a라는 변수에 'hello world'라는 문자열이 바인딩돼 있다고 했을 때 a의 값을 'hi world'로 변경해 보세요.

In [9]:
a="hello world"
print(a.replace("hello","hi"))

hi world

In [ ]:
문제 9

x라는 변수에 'abcdef'라는 문자열이 바인딩돼 있다고 했을 때 x의 값을 'bcdefa'로 변경해 보세요.

In [20]:
x=list("abcdef")
del x[0]
x.append("a")
print(x)

['b', 'c', 'd', 'e', 'f', 'a']

In [ ]:
문제 10

2015년 9월 초의 네이버 종가는 표 3.2와 같습니다.

09/07의 종가를 리스트의 첫 번째 항목으로 입력해서 naver_closing_price라는 이름의 리스트를 만들어보세요.

표 3.2 네이버 종가

날짜	요일	종가
09/11	금	488,500
09/10	목	500,500
09/09	수	501,000
09/08	화	461,500
09/07	월	474,500

In [1]:
naver_closing_price=["09/07","09/08","09/09","09/10","09/11",
                     ["월","화","수","목","금",["474,500","461,500","501,000","500,500","488,500"]]]
print(naver_closing_price)

['09/07', '09/08', '09/09', '09/10', '09/11', ['월', '화', '수', '목', '금', ['474,500', '461,500', '501,000', '500,500', '488,500']]]

In [ ]:
문제 11

문제 10에서 만든 naver_closing_price를 이용해 해당 주에 종가를 기준으로 가장 높았던 가격을 출력하세요.

(힌트: 리스트에서 최댓값을 찾는 함수는 max()이고, 화면에 출력하는 함수는 print()입니다.)

In [28]:
Max_s=max(naver_closing_price[5][5][:])
print(Max_s)

501,000

In [ ]:
문제 12

문제 10에서 만든 naver_closing_price를 이용해 해당 주에 종가를 기준으로 가장 낮았던 가격을 출력하세요.

(힌트: 리스트에서 최솟값을 찾는 함수는 min()이고, 화면에 출력하는 함수는 print()입니다.)

In [29]:
Min_s=min(naver_closing_price[5][5][:])
print(Min_s)

461,500

In [ ]:
문제 13

문제 10에서 만든 naver_closing_price를 이용해 해당 주에서 가장 종가가 높았던 요일과 

가장 종가가 낮았던 요일의 가격 차를 화면에 출력하세요..

In [6]:
Max_s=max(naver_closing_price[5][5][:])
Min_s=min(naver_closing_price[5][5][:])

Max_int=int(Max_s.replace(',',''))
Min_int=int(Min_s.replace(',',''))

res=Max_int-Min_int
print(res)

39500

In [ ]:
문제 14

문제 10에서 만든 naver_closing_price를 이용해 수요일의 종가를 화면에 출력하세요.

In [43]:
print(naver_closing_price[5][5][2])

501,000

In [ ]:
문제 15

문제 10의 표 3.2를 이용해 날짜를 딕셔너리의 키 값으로, 

종가를 딕셔너리의 값으로 사용해 naver_closing_price2라는 딕셔너리를 만드세요.

In [12]:
naver_closing_price2=dict({"09/07":"474,500","09/08":"461,500","09/09":"501,000","09/10":"500,500","09/11":"488,500"})
print(naver_closing_price2)

{'09/07': '474,500', '09/08': '461,500', '09/09': '501,000', '09/10': '500,500', '09/11': '488,500'}

In [ ]:
문제 16

문제 15에서 만든 naver_closing_price2 딕셔너리를 이용해 09/09일의 종가를 출력하세요.

In [14]:
print(naver_closing_price2["09/09"])

print(naver_closing_price2.get("09/09")) #키값으로 값 출력 2가지 방법

501,000
501,000

In [ ]:
문제 17

중첩 루프를 이용해 신문 배달을 하는 프로그램을 작성하세요. 

단, 아래에서 arrears 리스트는 신문 구독료가 미납된 세대에 대한 정보를 포함하고 있는데, 

해당 세대에는 신문을 배달하지 않아야 합니다.

>>> apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]
>>> arrears = [101, 203, 301, 404]

In [13]:
apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]
arrears = [101, 203, 301, 404]

for i in apart: #1,2,3,4(층)
    for j in i:  #1,2,3,4(호수)
        if j not in arrears:
            print("신문을 %s호에 발송하였습니다." %j)
        else:
            print("신문을 %s호에 배달할수 없습니다." %j)

신문을 101호에 배달할수 없습니다.
신문을 102호에 발송하였습니다.
신문을 103호에 발송하였습니다.
신문을 104호에 발송하였습니다.
신문을 201호에 발송하였습니다.
신문을 202호에 발송하였습니다.
신문을 203호에 배달할수 없습니다.
신문을 204호에 발송하였습니다.
신문을 301호에 배달할수 없습니다.
신문을 302호에 발송하였습니다.
신문을 303호에 발송하였습니다.
신문을 304호에 발송하였습니다.
신문을 401호에 발송하였습니다.
신문을 402호에 발송하였습니다.
신문을 403호에 발송하였습니다.
신문을 404호에 배달할수 없습니다.

In [ ]:
<함수구현>

문제 18

두 개의 정수 값을 받아 두 값의 평균을 구하는 함수를 작성하세요.

def myaverage(a, b):
    # 함수 구현

In [68]:
a=int(input())
b=int(input())

def myaverage(a,b):
    print("%d와 %d의 평균은 %d입니다." %(a,b,(a+b)/2))
    #return 0

print(myaverage(a,b))

5
3
5와 3의 평균은 4입니다.
None

In [ ]:
문제 19

함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수 값에 대한 최댓값과 최솟값을 반환하는 함수를 작성하세요.

def get_max_min(data_list):

    # 함수 구현

In [10]:
data_list=list(input())

def get_max_min(data_list):
    b_num=max(data_list)
    s_num=min(data_list)
    print("최댓값은 %s이며 최솟값은 %s입니다." %(b_num,s_num))
    

print(get_max_min(data_list))

12345
최댓값은 5이며 최솟값은 1입니다.
None

In [ ]:
문제 20

절대 경로를 입력받은 후 해당 경로에 있는 *.txt 파일의 목록을 파이썬 리스트로 반환하는 함수를 작성하세요.

def get_txt_list(path):
    # 함수 구현

In [17]:
import glob

path=input("path : ")

def get_txt_list(path):
    txt_list=glob.glob(path+'*.txt')
    
print(get_txt_list(path))

path : C:\
None

In [14]:
import glob

path=input("path : ")
txt_list=glob.glob(path+'*.txt')
print(txt_list)

path : C:\
['C:\\eula.1028.txt', 'C:\\eula.1031.txt', 'C:\\eula.1033.txt', 'C:\\eula.1036.txt', 'C:\\eula.1040.txt', 'C:\\eula.1041.txt', 'C:\\eula.1042.txt', 'C:\\eula.2052.txt', 'C:\\eula.3082.txt']

문제 21

체질량 지수(BMI; Body Mass Index)는 인간의 비만도를 나타내는 지수로서 체중과 키의 관계로 아래의 수식을 통해 계산합니다.

여기서 중요한 점은 체중의 단위는 킬로그램(kg)이고 신장의 단위는 미터(m)라는 점입니다.

BMI=체중(kg)/신장(m)^2
일반적으로 BMI 값에 따라 다음과 같이 체형을 분류하고 있습니다.

BMI <18.5, 마른체형
18.5 <= BMI < 25.0, 표준
25.0 <= BMI < 30.0, 비만
BMI >= 30.0, 고도 비만
함수의 인자로 체중(kg)과 신장(cm)을 받은 후 BMI 값에 따라 
‘마른체형’, ‘표준’, ‘비만’, ‘고도 비만’ 중 하나를 출력하는 함수를 작성하세요.

In [1]:
weight=int(input())
height=int(input())

def cal_BMI(weight,height):
    height_m=float(height/100)
    
    BMI=weight/(height_m**2)
    print("귀하의 BMI(비만도)는 %f 입니다." %BMI)
    
    if BMI<18.5:
        print("마른체형 입니다.")

    elif BMI>=18.5 and BMI<25.0:
        print("표준 입니다.")

    elif BMI>=25.0 and BMI<30.0:
        print("비만 입니다.")
    
    elif BMI>=30.0:
        print("고도비만 입니다.")
    

print(cal_BMI(weight,height))

170
90
귀하의 BMI(비만도)는 209.876543 입니다.
고도비만 입니다.
None

In [ ]:
문제 22

사용자로부터 키(cm)와 몸무게(kg)를 입력받은 후 BMI 값과 BMI 값에 따른 체형 정보를 화면에 출력하는 프로그램을 작성해 보세요.

파이썬에서 사용자 입력을 받을 때는 input 함수를 사용하며, 작성된 프로그램은 계속해서 사용자로부터 키와 몸무게를 입력받은 후 

BMI 및 체형 정보를 출력해야 합니다(**무한 루프 구조).

In [ ]:
while True:

    height=int(input())
    weight=int(input())


    def cal_BMI(weight,height):
        height_m=float(height/100)

        BMI=weight/(height_m**2)  
        print("귀하의 BMI(비만도)는 %f 입니다." %BMI)
    
        if BMI<18.5:
            print("마른체형 입니다.")
    
        elif BMI>=18.5 and BMI<25.0:
            print("표준 입니다.")

        elif BMI>=25.0 and BMI<30.0:
            print("비만 입니다.")
    
        elif BMI>=30.0:
            print("고도비만 입니다.")

    print(cal_BMI(weight,height))

170
80
귀하의 BMI(비만도)는 27.681661 입니다.
비만 입니다.
None
180
60
귀하의 BMI(비만도)는 18.518519 입니다.
표준 입니다.
None

In [ ]:
문제 23

삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적을 계산하는 함수를 작성하세요.

def get_triangle_area(width, height):
    # 함수 구현

In [15]:
width=int(input())
height=int(input())

def get_triangle_area(width, height):
    triangle=int((width * height)/2)
    print("삼각형의 높이와 밑변의 넓이는 %d입니다." %triangle)

print(get_triangle_area(width,height))

5
2
삼각형의 높이와 밑변의 넓이는 5입니다.
None

In [ ]:
문제 24

함수의 인자로 시작과 끝을 나타내는 숫자를 받아 시작부터 끝까지의 모든 정수값의 합을 반환하는 함수를 작성하세요(시작값과 끝값을 포함).

def add_start_to_end(start, end):
    # 함수 구현

In [6]:
start=int(input())
end=int(input())

def add_start_to_end(start, end):
    sum=0
    for i in range(start,end+1):
        sum=sum+i
        
    print("모든 정수값의 합은 %d 입니다." %sum)    
    
print(add_start_to_end(start,end))

1
5
모든 정수값의 합은 15 입니다.
None

In [ ]:
문제 25

함수의 인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세 글자로만 구성된 리스트를 반환하는 함수를 작성하세요.

예를 들어, 함수의 입력으로 ['Seoul', 'Daegu', 'Kwangju', 'Jeju']가 입력될 때 함수의 반환값은 ['Seo', 'Dae', 'Kwa', 'Jej']입니다.

In [19]:
text=['Seoul', 'Daegu', 'Kwangju', 'Jeju']

text_three=[]
def func(text):
    for i in range(len(text)):
        text[i]=text[i][:3]
        print(text[i]+' ',end='')

print(func(text))

Seo Dae Kwa Jej None

In [ ]:
*** Final 문제 <Baby-gin Game>

설명0~9 사이의 숫자 카드에서 임의의 카드 6장을 뽑았을 때, 3장의 카드가 연속적인 번호를 갖는 경우를 run이라 하고,

3장의 카드가 동일한 번호를 갖는 경우를 triplet이라고 한다.그리고, 6장의 카드가 run과 triplet로맊 구성된 경우를 baby-gin으로부른다.

6자리의 숫자를 입력 받아 baby-gin 여부를 판단하는 프로그램을 작성하라.

ex) 입력 예667767은 두 개의 triplet이므로 baby-gin이다. (666, 777)

054060은 한 개의 run과 한 개의 triplet이므로 역시 baby-gin이다. (456, 000)

101123은 한 개의 triplet가 존재하나, 023이 run이 아니므로 baby-gin이 아니다.

(123을 run으로 사용하더라도 011이 run이나 triplet가 아님)